body, ul, li, a,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 360px;
    height: auto;
    margin: 5% auto;
}

/* header */

#header {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.logo-wrap{
    width: 100%;
    height: auto;
}

.logo-wrap > a{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

#img{
    max-width: 100%;
    height: auto;
}


/* join area */

.content-wrap{
    width: 100%;
    height: auto;
}

.join-wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.join-box{
    width: 88%;
    height: 115px;
    text-align: center;
    padding: 0 6%;
}

h3{
    text-align: left;
    font-size: 1.0rem;
}

.span-box{
    width: 92%;
    padding: 10px 3.685%;
    border: 1px solid #dadada;
    display: inline-block;
    height: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.span{
    width: 10%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

#id, #pw1, #pw2, #name, #email{
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
}

#join-button{
    width: 100%;
    height: 40px;
    background: #2c70ee;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.alert-wrap{
    width: 92%;
    height: 40px;
    padding: 0 4%;
    font-size: 15px;
    display: inline-block;
    text-align: left;
    color: red;
}

.join-bt-wrap{
    height: auto;
}


