 /* login.css */

 body,
 ul,
 li,
 a {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
 }
 
 /* header */
 
 .container{
     position: absolute;
     width: 360px;
     height: auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 
 #header {
     width: 100%;
     height: auto;
     margin: 0 auto;
 }
 
 .logo-wrap{
     width: 100%;
     height: auto;
 }
 
 .logo-wrap > a{
     display: inline-block;
     width: 100%;
     height: auto;
     margin: 0 auto;
     cursor: pointer;
 }
 
 #img{
     max-width: 100%;
     height: auto;
 }
 
 /* section */
 .content {
     width: 100%;
     height: auto;
 }
 
 .login-wrap {
     border: 1px solid #2c70ee;
     border-radius: 10PX;
     height: auto;
     width: 100%;
     padding: 10% 0;
     margin: 0 auto;
 }
 
 .id-wrap,
 .pw-wrap {
     width: 100%;
     height: 34px;
     text-align: center;
 }
 
 
 #id,
 #pw {
     width: 80%;
     height: 30px;
     padding-left: 15PX;
     padding-right: 15PX;
     outline: none;
     border: 1px solid #CFCFCF;
 }
 
 #id {
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
 }
 
 #pw {
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
 }
 
 #id:focus,
 #pw:focus {
     border: 1px solid #2c70ee;
 }
 
 .alert-wrap {
     width: 100%;
     height: 50px;
     line-height: 50px;
     text-align: center;
     color: red;
 }
 
 .bt-wrap {
     width: 100%;
     height: 40px;
     text-align: center;
 }
 
 #login-bt {
     width: 90%;
     height: 40px;
     background: #fff;
     color: #2c70ee;
     border: 1px solid #2c70ee;
     font-size: 1.2rem;
     font-weight: 700;
     color: #fff;
     background: #2c70ee;
     border-radius: 7px;
     cursor: pointer;
 }
 
 .login-info-wrap {
     width: 100%;
     height: 60px;
     line-height: 60px;
     text-align: center;
 }
 
 a {
     color: black;
 }